﻿@model Kirkland_Hospital.Models.EventModel
@{
    ViewData["Title"] = "Event Details";
}

<div class="row">
    <div class="login-logo">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Alert"]</b>
            </div>
        }
    </div>
    <h2 class="form-header"> @Model.events.Event_Name</h2>
    <div class="col-md-6 jg-form">
        <div class="form-group">
            <label asp-for="events.Event_Date" class="control-label">Event Date</label>
            @(Model.events.Event_Date != null ? string.Format("{0:MMMM d , yyyy}", Model.events.Event_Date) : "")
        </div>
        <div class="form-group">
            <label asp-for="events.Event_Location" class="control-label">Event Location:</label>
            @Model.events.Event_Location
        </div>
        <div class="form-group">
            <label asp-for="events.Event_Time" class="control-label">Event Time:</label>
            @Model.events.Event_Time
        </div>
        <div class="form-group">
            <label asp-for="events.Event_Description" class="control-label">Event Description:</label>
            @Model.events.Event_Description
        </div>
    </div>
    <div class="col-md-6 jg-form">
        <p class="declare-term">Intersted in these event prebook your confirmation </p>
        <form asp-action="UserEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="events.Event_ID" />
            <div class="form-group">
                <label asp-for="userevent.User_First_Name" class="control-label">First Name</label>
                <input asp-for="userevent.User_First_Name" class="form-control" />
                <span asp-validation-for="userevent.User_First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userevent.User_Last_Name" class="control-label">Last Name</label>
                <input asp-for="userevent.User_Last_Name" class="form-control" />
                <span asp-validation-for="userevent.User_Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userevent.User_Email" class="control-label">Email</label>
                <input asp-for="userevent.User_Email" class="form-control" />
                <span asp-validation-for="userevent.User_Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

