﻿@model Kirkland_Hospital.Models.DoctorMainModel
@{
    ViewData["Title"] = "Search Doctor";
}


<div class="row">
    <div class="col-md-12 form-header">
        <h2>Timing's of Doctor Availability</h2>
    </div>
    <div class="col-md-6 jg-form">
        <form asp-action="SearchDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Search Doctor</label>
                <input type="datetime" asp-for="Date" class="form-control" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-6 jg-form">
        <table class="table">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Doctor Position</th>
                    <th>Available Date</th>
                    <th>Available Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.doctorlist)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor_position)
                        </td>
                        <td>
                            @(item.Available_Date != null ? string.Format("{0:MMMM d , yyyy}", item.Available_Date) : "")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Available_Time)

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>