﻿@model Kirkland_Hospital.Models.EventMainModel
@{
    ViewData["Title"] = "SearchEvent";
}
<div class="row">
    <div class="col-md-12 form-header">
        <h2>Events</h2>
    </div>
    <div class="col-md-6 jg-form">
        <form asp-action="SearchEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Search Event</label>
                <input type="datetime" asp-for="Date" class="form-control" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-6 jg-form">
        <table class="table">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Detail</th>
                    <th>Event Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var events in Model.eventlist)
                {
                    <tr>
                        <td>@events.Event_Name</td>
                        <td>
                            <a asp-action="EventDetails" asp-route-id="@events.Event_ID">@events.Event_Hyperlink</a>
                        </td>
                        <td>
                            @(events.Event_Date != null ? string.Format("{0:MMMM d , yyyy}", events.Event_Date) : "")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>