﻿@model Kirkland_Hospital.Models.Volunteer
@{
    ViewData["Title"] = "Volunteer";
}

<div class="login-logo">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" style="float: none;" role="alert">
            <b>@TempData["Message"]</b>
        </div>
    }
    @if (TempData["Alert"] != null)
    {
        <div class="alert alert-danger" style="float: none;" role="alert">
            <b>@TempData["Alert"]</b>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12 form-header">
        <h2>Volunteer</h2>
    </div>
    <div class="col-md-12 jg-form">
        <form asp-action="Volunteer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Interested" class="control-label"></label>
                <select asp-for="Interested" class="form-control">
                    <option value="">-- Select Interested Field--</option>
                    <option value="Sitting Arrangements">Sitting Arrangements</option>
                    <option value="food serving">food serving</option>
                    <option value="Helping Patients">Helping Patients</option>
                    <option value="Welcoming Guests">Welcoming Guests</option>
                </select>
                <span asp-validation-for="Interested" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Email_ID" class="control-label"></label>
                <input asp-for="Email_ID" class="form-control" />
                <span asp-validation-for="Email_ID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Province" class="control-label"></label>
                <select asp-for="Province" class="form-control">
                    <option value="">-- Select Province --</option>
                    <option value="ON">ON</option>
                    <option value="BC">BC</option>
                    <option value="QC">QC</option>
                    <option value="AB">AB</option>
                    <option value="NC">NC</option>
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Postal_Code" class="control-label"></label>
                <input asp-for="Postal_Code" class="form-control" />
                <span asp-validation-for="Postal_Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Contact_No" class="control-label"></label>
                <input type="tel" asp-for="Contact_No" class="form-control" />
                <span asp-validation-for="Contact_No" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <p class="declare-term">I here by declare that i am wiling to provide volunteering for the kirkland and District hospital for free as a part of social member and i will do these with my heart </p>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="IsAgree" class="control-label">I agree to Terms and Condition</label>
                <input type="checkbox" asp-for="IsAgree" />
                <span asp-validation-for="IsAgree" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
