﻿@model Kirkland_Hospital.Models.DoctorMainModel
@{
    ViewData["Title"] = "Doctor Details";
}
<div class="row">
    <div class="login-logo">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Alert"]</b>
            </div>
        }
    </div>
    <div class="col-md-12 form-header">
        <div class="col-md-9">
            <h2 style="margin-left:30%;">Doctor Details</h2>
        </div>
        <div class="col-md-3">
            <a asp-action="SaveDoctors" class="btn btn-default" style="float:right; margin-top:22px;">Add Doctor</a>
        </div>
    </div>    
    <div class="jg-form">
        <table class="table">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Doctor Position</th>
                    <th>Available Date</th>
                    <th>Available Time</th>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var doctors in Model.doctorlist)
                {
                    <tr>
                        <td>@doctors.Doctor_Name</td>
                        <td>@doctors.Doctor_position</td>
                        <td>@(doctors.Available_Date != null ? string.Format("{0:MMMM d , yyyy}", doctors.Available_Date) : "")</td>
                        <td>@doctors.Available_Time</td>
                        <td>
                            <a asp-action="UpdateDoctors" asp-route-id="@doctors.Doctor_ID">Edit</a> |
                            <a asp-action="DeleteDoctors" asp-route-id="@doctors.Doctor_ID" onclick="return confirm('Are you sure you wish to Delete ?');">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>