﻿@model IEnumerable<Kirkland_Hospital.Models.Event>
@{
    ViewData["Title"] = "Event Details";
}
<div class="row">
    <div class="login-logo">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Alert"]</b>
            </div>
        }
    </div>
    <div class="col-md-12 form-header">
        <div class="col-md-9">
            <h2 style="margin-left:30%;">Event Details</h2>
        </div>
        <div class="col-md-3">
            <a asp-action="SaveEvent" class="btn btn-default" style="float:right; margin-top:22px;">Add Event</a>
        </div>
    </div>
    <div class="jg-form">
        <table class="table">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Location</th>
                    <th>Event Date</th>
                    <th>Event Time</th>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <th>Action</th>                        
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var events in Model)
                {
                    <tr>
                        <td>@events.Event_Name</td>
                        <td>@events.Event_Location</td>
                        <td>@(events.Event_Date != null ? string.Format("{0:MMMM d , yyyy}", events.Event_Date) : "")</td>
                        <td>@events.Event_Time</td>
                        @if (this.User.IsInRole("Admin"))
                        {

                            <td>
                                <a asp-action="UpdateEvent" asp-route-id="@events.Event_ID">Edit</a> |
                                <a asp-action="DeleteEvent" asp-route-id="@events.Event_ID" onclick="return confirm('Are you sure you wish to Delete Event?');">Delete</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>