﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Dashboard</h2>
<div class="login-logo">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" style="float: none;" role="alert">
            <b>@TempData["Message"]</b>
        </div>
    }
    @if (TempData["Alert"] != null)
    {
        <div class="alert alert-danger" style="float: none;" role="alert">
            <b>@TempData["Alert"]</b>
        </div>
    }
</div>

