﻿@model Kirkland_Hospital.Models.Volunteer
@{
    ViewData["Title"] = "Save Volunteer";
}

<a asp-area="" asp-controller="Admin" asp-action="Index" class="navbar-brand">Dashboard</a>
<h2>Save Volunteer</h2>
<div class="login-logo">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" style="float: none;" role="alert">
            <b>@TempData["Message"]</b>
        </div>
    }
    @if (TempData["Alert"] != null)
    {
        <div class="alert alert-danger" style="float: none;" role="alert">
            <b>@TempData["Alert"]</b>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveVolunteer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Event Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Event Location</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email_ID" class="control-label">Event Date</label>
                <input asp-for="Email_ID" class="form-control" />
                <span asp-validation-for="Email_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Available Date</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Available Time</label>
                <input  asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postal_Code" class="control-label"></label>
                <input asp-for="Postal_Code" class="form-control" />
                <span asp-validation-for="Postal_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_No" class="control-label"></label>
                <textarea asp-for="Contact_No" class="form-control"></textarea>
                <span asp-validation-for="Contact_No" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




