﻿@model Kirkland_Hospital.Models.Event
@{
    ViewData["Title"] = "Update Event";
}

<div class="row">
    <div class="login-logo">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Alert"]</b>
            </div>
        }
    </div>
    <h2 class="form-header">Events Calender </h2>
    <div class="col-md-12  jg-form">
        <form asp-action="UpdateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event_ID" />
            <input type="hidden" asp-for="Created_By" />
            <input type="hidden" asp-for="Created_Date" />
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Event_Name" class="control-label">Event Name</label>
                    <input asp-for="Event_Name" class="form-control" />
                    <span asp-validation-for="Event_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event_Location" class="control-label">Event Location</label>
                    <input asp-for="Event_Location" class="form-control" />
                    <span asp-validation-for="Event_Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event_Date" class="control-label">Event Date</label>
                    <input type="datetime" asp-for="Event_Date" class="form-control" />
                    <span asp-validation-for="Event_Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event_Time" class="control-label">Event Time</label>
                    <input asp-for="Event_Time" class="form-control" />
                    <span asp-validation-for="Event_Time" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Event_Description" class="control-label">Event Description</label>
                    <textarea asp-for="Event_Description" class="form-control"></textarea>
                    <span asp-validation-for="Event_Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event_Hyperlink" class="control-label">Event Hyperlink</label>
                    <input asp-for="Event_Hyperlink" class="form-control" />
                    <span asp-validation-for="Event_Hyperlink" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

