﻿@model Kirkland_Hospital.Models.Volunteer
@{
    ViewData["Title"] = "Update Volunteer";
}

<div class="row">
    <div class="login-logo">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Alert"]</b>
            </div>
        }
    </div>
    <h2 class="form-header">Volunteer</h2>
    <div class="col-md-12 jg-form">
        <form asp-action="UpdateVolunteer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Enroll_ID" />
            <input type="hidden" asp-for="IsAgree" />
            <input type="hidden" asp-for="Created_By" />
            <input type="hidden" asp-for="Created_Date" />
            <div class="form-group col-md-4">
                <label asp-for="Interested" class="control-label"></label>
                <select asp-for="Interested" class="form-control">
                    <option value="">-- Select Interested Field--</option>
                    <option value="Sitting Arrangements">Sitting Arrangements</option>
                    <option value="Food serving">food serving</option>
                    <option value="Helping Patients">Helping Patients</option>
                    <option value="Welcoming Guests">Welcoming Guests</option>
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="FirstName" class="control-label">Event Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="LastName" class="control-label">Event Location</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Email_ID" class="control-label">Event Date</label>
                <input asp-for="Email_ID" class="form-control" />
                <span asp-validation-for="Email_ID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Address" class="control-label">Available Date</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="City" class="control-label">Available Time</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Province" class="control-label"></label>
                <select asp-for="Province" class="form-control">
                    <option value="">-- Select Province --</option>
                    <option value="ON">ON</option>
                    <option value="BC">BC</option>
                    <option value="QC">QC</option>
                    <option value="AB">AB</option>
                    <option value="NC">NC</option>
                </select>
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Postal_Code" class="control-label"></label>
                <input asp-for="Postal_Code" class="form-control" />
                <span asp-validation-for="Postal_Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Contact_No" class="control-label"></label>
                <input type="tel" asp-for="Contact_No" class="form-control" />
                <span asp-validation-for="Contact_No" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="IsApproved" class="control-label">Approved</label>
                <input type="checkbox" asp-for="IsApproved" />
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
