﻿@model Kirkland_Hospital.Models.Doctors
@{
    ViewData["Title"] = "Update Doctors";
}


<div class="row">
    <div class="login-logo">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Alert"]</b>
            </div>
        }
    </div>
    <h2 class="form-header">Doctor's Availability</h2>
    <div class="col-md-12  jg-form">
        <form asp-action="UpdateDoctors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor_ID" />
            <input type="hidden" asp-for="Created_By" />
            <input type="hidden" asp-for="Created_Date" />
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Doctor_Name" class="control-label">Doctor Name</label>
                    <input asp-for="Doctor_Name" class="form-control" />
                    <span asp-validation-for="Doctor_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor_Contact_info" class="control-label">Doctor Contact Info</label>
                    <input asp-for="Doctor_Contact_info" class="form-control" />
                    <span asp-validation-for="Doctor_Contact_info" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor_position" class="control-label">Doctor Position</label>
                    <input asp-for="Doctor_position" class="form-control" />
                    <span asp-validation-for="Doctor_position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Available_Date" class="control-label">Available Date</label>
                    <input type="datetime" asp-for="Available_Date" class="form-control" />
                    <span asp-validation-for="Available_Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Available_Time" class="control-label">Available Time</label>
                    <input asp-for="Available_Time" class="form-control" />
                    <span asp-validation-for="Available_Time" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Specialization" class="control-label"></label>
                    <textarea asp-for="Specialization" class="form-control"></textarea>
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
