﻿@model IEnumerable<Kirkland_Hospital.Models.Volunteer>
@{
    ViewData["Title"] = "Volunteer Details";
}
<div class="row">
    <div class="login-logo">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Alert"]</b>
            </div>
        }
    </div>
    <div class="col-md-12 form-header">
        <div class="col-md-9">
            <h2 style="margin-left:30%;">Volunteer Details</h2>
        </div>
    </div>    
    <div class="jg-form">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Approved</th>                    
                    @if (this.User.IsInRole("Admin"))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var vol in Model)
                {
                <tr>
                    <td>@vol.FirstName</td>
                    <td>@vol.LastName</td>
                    <td>@vol.Email_ID</td>
                    <td>@vol.Address </td>
                    @if (vol.IsApproved == true)
                    {
                        <td>Approved</td>
                    }
                    else
                    {
                        <td>Pending</td>
                    }
                    <td>
                        <a asp-action="UpdateVolunteer" asp-route-id="@vol.Enroll_ID">Edit</a> |
                        <a asp-action="DeleteVolunteer" asp-route-id="@vol.Enroll_ID" onclick="return confirm('Are you sure you wish to Delete Game ?');">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>