﻿body {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
}

.jg-button {
    font-size: 16px;
    border-radius: 5px;
    background-color: #feb729;
    color: #00275e;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    border: none;
}

    .jg-button:hover {
        background-color: #00275e;
        color: #feb729;
    }

.border-divider {
    border-bottom: #00275e solid 1px;
}

/*Header and Nav Bar Styles*/

#logo-block {
    margin-left: 2em;
    position: relative;
    vertical-align: middle;
}

#site-header {
    font-family: 'Khula', sans-serif;
    font-size: 3em;
    color: #002753;
    text-transform: uppercase;
    margin-top: 2em;
}

#nav-bar {
    background-color: #6d98ab;
    border: none;
    border-radius: 0;
}

    #nav-bar a {
        color: #00275e;
        font-family: 'Pontano Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
    }

#logo {
    margin-right: 2em;
}

.emergency-button {
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    border: none;
}

.button-link {
    color: white;
}

    .button-link:hover {
        text-decoration: underline;
        color: white;
    }

.dropdown-content-a {
    display: none;
    list-style:none;
    padding-left:15px;
    margin-bottom:15px;
    position:absolute;
    top:35px;
    
}
.list-underline{
    border-bottom:1px solid white;
}
.dropdown-content-a li {
    margin-bottom: 5px;
}
 .dropdown-a{
     position:relative;
 }
.dropdown-a:hover .dropdown-content-a  {
    display: block;
    background-color: #6d98ab;
    padding: 5px 5px 10px 5px;
    z-index:100;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

/*FORM STYLING*/
.jg-form {
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.3em;
}

.form-header {
    background-color: #00275e;
    color: #feb729;
    font-family: 'Khula', sans-serif;
    padding: 15px;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}

.submit-button {
    display: block;
    margin: 10px auto;
    width: 15%;
}

.form-text {
    text-align: center;
    width: 90%;
    margin: 5px auto;
}

label.declare-term {
    text-transform: uppercase;
    font-size: 11px;
}

