﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kirkland Hospital</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/jenna-style.css" />
        <link href="https://fonts.googleapis.com/css?family=Khula:800|Pontano+Sans" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="logo-block" class="row">
        <div class="col-md-2">
            @if (this.User.IsInRole("Admin"))
            {
                <a href="~/Admin/Index"><img src="~/images/KDHLogo.png" id="logo" /></a>
            }
            else
            {
                <a href="~/Home/Index"><img src="~/images/KDHLogo.png" id="logo" /></a>
            }
        </div>
        <div class="col-md-7">
            <h1 id="site-header" class="text-center">Humber Lake Hospital</h1>
        </div>
        <div class="col-md-3">
            <span class="jg-button donation-button"><a class="button-link" href="~/Donation/Create">Donations</a></span>
            <span class="emergency-button"><a class="button-link" href="#">Emergency</a></span>
        </div>
    </div>
    <nav id="nav-bar" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-area="" asp-controller="Admin" asp-action="Index" class="navbar-brand">Home</a>
                }
                else
                {

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="Admin" asp-action="DoctorDetails">Doctors</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="EventDetails">Event</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="VolunteerDetails">Volunteer</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="SearchDoctor">Search Doctor</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="SearchEvent">Search Event</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Volunteer">Volunteer Form</a></li>}
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    @if (this.User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.Identity.Name!</a>
                        </li>
                        <li><a asp-action="Logout" asp-controller="Admin" class="btn btn-link navbar-btn navbar-link">Logout</a> </li>
                    }
                    else
                    {                     
                        <li><a href="~/Admin/Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - KirklandHospital</p>          
        </footer>
    </div>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('input[type=datetime]').datepicker({
                    dateFormat: "mm-dd-yyyy",
                    autoclose: true,
                });
                window.setTimeout(function () {
                    $(".alert").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 4000);
            });
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
